{% extends "base.html" %}
{% load static %}
{% block title %}
    Categories - {{ category.name }}
{% endblock %}
{% block content %}

    <p>Categories available</p>
{% for category in category_list %}
    <a href="{% url 'categories' %}?category={{ category.pk }}"><p>{{ category.name }}</p></a>
{% endfor %}


    <p>Products in the category {{ category.name }}</p>
<div class="container">
    <div class="row">
        {% for p in products %}
        <div class="col-sm">
            <a href="{% url 'product-detail' pk=p.pk %}"><img src="media/{{ p.image }}" alt="{{ p.title }} " height="auto" width="225">
            <p>{{ p.title }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}