{% extends "base.html" %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block content %}

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static "/images/chairs.jpg" %}" class="d-block mx-lg-auto img-fluid" alt="Anada Chairs"
                     width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Eco friendly house decorations</h1>
                <p class="lead">
                    Sustainable and eco-friendly handicraft and homeware
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="{% url 'product-list' %}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Shop Now</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="album py-5 bg-dark">

        <div class="container text-white">
        <h2 class="p-1">Featured products</h2>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-black">
                {% for product in  products %}

                <div class="card bg-dark text-white">
                    <a href="{% url 'product-detail' pk=product.pk %}">
                  <img class="card-img" src="/media/{{ product.image }}" alt="{{ product.title }}">
                        </a>
                  <div class="card-img-overlay" style="top: 70%">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">€ {{ product.price}}</p>
{#                    <p class="card-text">Something p</p>#}

                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h2 class="display-4 fw-bold lh-1 mb-3">Sign up is easy</h2>
        <p class="col-lg-10 fs-4">Launch campaign gives crazy discounts and subscribers get to grab the best items first</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
          <a href="{% url 'sign-up'%}"><button class="w-100 btn btn-lg btn-primary" type="submit" style="padding: 1em; font-size: 2em">Sign up</button></a>
      </div>
    </div>
  </div>
{% endblock %}