{% extends "base.html" %}
{% load static %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    <table class="table">
  <thead>
    <tr>
        <th scope="col">Purchase ID:</th>
        <th scope="col">Date</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
      {% for item in orders %}
            <tr>
              <th scope="row">{{ item.pk }}</th>
              <td>{{ item.date }}</td>
                <td>{{ item.product }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
        {% endfor %}
  </tbody>
{% endblock %}